<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="relive" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="relive" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="relive" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="relive" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>reLive</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
  
  <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="app/bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app/bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="app/bower_components/angularjs-datetime-picker/angularjs-datetime-picker.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="app/bower_components/ng-tags-input/ng-tags-input.min.css">
  <link rel="stylesheet" href="app/app.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stlye.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
</head>
<body ng-cloak>
  <!--Navigation-->
    
    <div id="myNavBar" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            
                <a href="#" class="navbar-brand">reLive</a>
            </div>
            <div class="navbar-collapse collapse">
                <ol class="nav navbar-nav navbar-right">
                    <li><a href="#/header">Home</a></li>
                    <li><a href="#/services">services</a></li>
                    <li><a href="#pricing">pricing</a></li>
                    <li><a href="#team">team</a></li>
                    <li><a href="#clients">clients </a></li>
                    <li><a href="#contacts">contacts</a></li> 
                    <a href="#LoginPage.html">Sign In</a>
                    <a href="#Registration%20Page.html">Sign Up</a>
                </ol>
            </div>
        </div>
    </div>
        
    <!--End of Navigation-->

        <div id="eader" class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 wow lightSpeedIn">
                <h1>A personalized Cloud Video solution</h1>
                <p>
                    Personal videos have become an essential part of life, especially if they are pictured by professionals on one’s special events and/or occasions. Most of the time, users intend to keep all such videos stored in physical devices and keep them safe. However, fact is that no physical device can last long enough. Some wear out while some may be lost when not in use.</p>
                    <button class="btn btn-lg btn-primary">Subscribe Now</button>
                </div>
                <div class="col-lg-6 col-md-6">
                
                </div>
            </div>
         </div>
    </div>
    
    <!--End Header-->
   
 <!--
  <div class="container" layout="column" ng-controller="AppCtrl" flex>
    <md-toolbar>
      
      <div class="md-toolbar-tools">
        <h2>
          <strong>reLive</strong>
        </h2>
        <span flex></span>
        <span ng-show="isAuthorized">Logout</span><span ng-show="!isAuthorized">Please Login to Edit</span>
        <md-button ng-hide="!isAuthorized" class="md-icon-button" aria-label="sign-out" ng-click="signout($event)">
          <i class="fa fa-sign-out fa-2x"></i><md-tooltip>logout</md-tooltip>
        </md-button>
        <md-button ng-hide="isAuthorized" class="md-icon-button" aria-label="sign-in" ng-click="showAdvanced($event)">
          <i class="fa fa-sign-in fa-2x"></i><md-tooltip>login</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-content class="md-padding" >
      <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="#/page1" name="page1">Page 1</md-nav-item>
        <md-nav-item md-nav-href="#/page2" name="page2">Page 2</md-nav-item>
      </md-nav-bar>
      <div class="ext-content">
        <div ng-view id="main"></div>
        Project Version: <span app-version></span>
      </div>
    </md-content>
  </div>
-->

  <!--Third Party Libs-->

  <script src="app/bower_components/angular/angular.min.js"></script>
  <script src="app/bower_components/angular-route/angular-route.min.js"></script>
  <script src="app/bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="app/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="app/bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="app/bower_components/angular-material/angular-material.min.js"></script>
  <script src="app/bower_components/ng-tasty/ng-tasty-tpls.min.js"></script>
  <script src="app/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="app/bower_components/angularjs-datetime-picker/angularjs-datetime-picker.js"></script>
  <script src="app/bower_components/ng-tags-input/ng-tags-input.min.js"></script>
  <script src="app/bower_components/moment/min/moment.min.js"></script>
  <script src="app/bower_components/moment-timezone/builds/moment-timezone-with-data.js"></script>
  <script src="app/bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>-->
  <!--Main JS-->

  <script src="app/app.js"></script>
  <script src="app/config.js"></script>
  <script src="app/assets/api.js"></script>

  <!--Partials-->

  <script src="app/partials/page1/Page1Ctrl.js"></script>
  <script src="app/partials/page2/Page2Ctrl.js"></script>
  <script src="app/partials/auth/LoginCtrl.js"></script>

  <!--Directives-->

  <script src="app/components/dropdown/dropdown.js"></script>
  <script src="app/components/page1/page1Directive.js"></script>
  <script src="app/components/page2/page2Directive.js"></script>

  <!--Services-->

  <script src="app/services/page1Service.js"></script>
  <script src="app/services/page2Service.js"></script>
  <script src="app/components/version/version.js"></script>
  <script src="app/components/version/version-directive.js"></script>
  <script src="app/components/version/interpolate-filter.js"></script>

  
  <div id="services" class="services">
        <div calss="container">
            <h2>Services</h2>
            <p>Services offered by our platform </p>
            <div calss="row">
                <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.8s">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <h4>Upload Images and vidoes</h4>
                    <p> Upload all your favorite photos</p>
                </div>
                <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.4s">
                    <i class="fa fa-cloud" aria-hidden="true"></i>
                    <h4> Cloud Database </h4>
                    <p> All your data are saved on the cloud and there is always enough sapace for you to store your content</p>
                </div>
                <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                    <i class="fa fa-shield" aria-hidden="true"></i>
                    <h4> Secure and Reliable</h4>
                    <p> We provide you with a platform which is more secure and stable.</p>
                </div>
                <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.4s">
                    <i class="fa fa-share-square-o" aria-hidden="true"></i>
                    <h4>Share it to others</h4>
                    <p> share your videos to your near and dear ones. Watch it from wherever you are.</p>            
                </div>
            </div>
        </div>
     </div>
    
    <!--End Servces-->
    
    <!--Pricing-->
    
    <div id="pricing" class="pricing">
        <div calss="container">
            <div calss="row">
                <h2>Pricing</h2>
                <p>The various packages provided to the partners by our platform. </p>
                <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="0.8s">
                    <div class="packages">
                    <h4>Bronze</h4>
                    <h1>19.99</h1>
                    <b> Monthly </b>
                    <p></p>
                    <hr>
                    <li>100 users</li>
                    <li>SSL certificates</li>
                    <li>Online Customer Support</li>
                    <li>10 TB Discspace</li>
                    <li>100 Email Address</li>
                    <li>Openstack Swift Store/S3</li>
                    <button class="btn btn-success"> Get Started</button>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.2s">
                    <div class="packages">
                    <h4>Silver</h4>
                    <h1>29.99</h1>
                    <b> Monthly </b>
                    <p></p>
                    <hr>
                    <li>200 users</li>
                    <li>SSL certificates</li>
                    <li>Online Customer Support</li>
                    <li>20 TB Discspace</li>
                    <li>200 Email Address</li>
                    <li>Openstack Swift Store/S3</li>
                    <button class="btn btn-success"> Get Started</button>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="1.6s">
                    <div class="packages">
                    <h4>Gold</h4>
                    <h1>39.99</h1>
                    <b> Monthly </b>
                    <p></p>
                    <hr>
                    <li>500 users</li>
                    <li>SSL certificates</li>
                    <li>Online Customer Support</li>
                    <li>50 TB Discspace</li>
                    <li>500 Email Address</li>
                    <li>Openstack Swift Store/S3</li>
                    <button class="btn btn-success"> Get Started</button>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 wow flipInY" data-wow-delay="2s">
                    <div class="packages">
                    <h4>Platinum</h4>
                    <h1>49.99</h1>
                    <b> Monthly </b>
                    <p></p>
                    <hr>
                    <li>1000 users</li>
                    <li>SSL certificates</li>
                    <li>Online Customer Support</li>
                    <li>100 TB Discspace</li>
                    <li>1000 Email Address</li>
                    <li>Openstack Swift Store/S3</li>
                    <button class="btn btn-success"> Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
                    
     <!-- End Pricing -->
    
    
     <!-- Team -->
    
    <div id="team" class="team">
        <div calss="container">
            <div calss="row">
                <h2>Meet Our Team</h2>
                <p>The various packages provided to the partners by our platform. </p>
                <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="2s">
                    <img src="images/nolyda.jpg" class="img-circle" alt="">
                    <h4>Nolyda Tep</h4>
                    <b>Front-End Engineer</b>
                    <p>Lorem ipsum dolor sit amet, eu mea adhuc voluptua electram. Propriae scriptorem no usu, per errem definiebas posidonium ut.</p>
                    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
                <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.6s">
                    <img src="images/prathibha.jpg" class="img-circle" alt="">
                    <h4>Prathibha</h4>
                    <b>Front-End Engineer</b>
                    <p>Lorem ipsum dolor sit amet, eu mea adhuc voluptua electram. Propriae scriptorem no usu, per errem definiebas posidonium ut.</p>
                    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
                <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="1.2s">
                    <img src="images/koushik.jpeg" class="img-circle" alt="">
                    <h4>Koushik Sekhar</h4>
                    <b>Front-End Engineer</b>
                    <p>Lorem ipsum dolor sit amet, eu mea adhuc voluptua electram. Propriae scriptorem no usu, per errem definiebas posidonium ut.</p>
                    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
                <div class="col-lg-3 col-md-3 wow fadeInLeft" data-wow-delay="0.8s">
                    <img src="" class="img-circle" alt="">
                    <h4>Koushik Sekhar</h4>
                    <b>Front-End Engineer</b>
                    <p>Lorem ipsum dolor sit amet, eu mea adhuc voluptua electram. Propriae scriptorem no usu, per errem definiebas posidonium ut.</p>
                    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
     <script src="js/wow.min.js"></script>
     <script>
     new WOW().init();
     </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   
</body>
</html>
