<div ng-init="tab='create'">
  <div>
    <ul class="sub-menu">
      <li><a ng-click="tab='create'">Create</a></li>
      <li><a ng-click="tab='search'">Search</a></li>
      <li><a ng-click="tab='delete'">Delete</a></li>
    </ul>
  </div>
  <!--<div class="">-->
  <!--<dropdown placeholder="Colour..." list="colours" selected="colour" property="name"></dropdown>-->
  <!--</div>-->
  <div ng-show="tab=='create'">
    <job-create> </job-create>
  </div>
  <div ng-show="tab=='search'">
    <job-search> </job-search>
  </div>
  <div ng-show="tab=='delete'">
    <job-delete> </job-delete>
  </div>
</div>